In [ ]:
import pandas as pd
import numpy as np

#### Concatenation

The concat() function performs concatenation operations of pandas objects along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes. 

Takes a list or dict of homogeneously-typed objects and concatenates them with some configurable handling of “what to do with the other axes”


- **axis** : {0, 1, …}, default 0. The axis to concatenate along.

- **join** : {‘inner’, ‘outer’}, default ‘outer’. How to handle indexes on other axis(es). Outer for union and inner for intersection.

- **keys** : sequence, default None. Construct hierarchical index using the passed keys as the outermost level. If multiple levels passed, should contain tuples.

- **levels** : list of sequences, default None. Specific levels (unique values) to use for constructing a MultiIndex. Otherwise they will be inferred from the keys.

- **names** : list, default None. Names for the levels in the resulting hierarchical index.

Hierarchical indexing can be accommodated in the concatenation axis.

Any None objects will be dropped silently unless they are all None in which case a ValueError will be raised.

In [ ]:
df1 = pd.DataFrame(
        {
            "A": ["A0", "A1", "A2", "A3"],
            "B": ["B0", "B1", "B2", "B3"],
            "C": ["C0", "C1", "C2", "C3"],
            "D": ["D0", "D1", "D2", "D3"],
        },
        index=[0, 1, 2, 3], )
   

df2 = pd.DataFrame(
        {
            "A": ["A4", "A5", "A6", "A7"],
            "B": ["B4", "B5", "B6", "B7"],
            "C": ["C4", "C5", "C6", "C7"],
            "D": ["D4", "D5", "D6", "D7"],
        },
        index=[4, 5, 6, 7], )
    

df3 = pd.DataFrame(
        {
            "A": ["A8", "A9", "A10", "A11"],
            "B": ["B8", "B9", "B10", "B11"],
            "C": ["C8", "C9", "C10", "C11"],
            "D": ["D8", "D9", "D10", "D11"],
        },
        index=[8, 9, 10, 11], )

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
result = pd.concat([df1,df2,df3])

In [ ]:
result

In [ ]:
result = pd.concat([df1,df2,df3], axis=1)

In [ ]:
result

In [ ]:
df4 = pd.DataFrame(
   ...:     {
   ...:         "A": ["A4", "A5", "A6", "A7"],
   ...:         "B": ["B4", "B5", "B6", "B7"],
   ...:         "C": ["C4", "C5", "C6", "C7"],
   ...:         "D": ["D4", "D5", "D6", "D7"],
   ...:     },
   ...:     index=[0, 1, 2, 3],
   ...: )

In [ ]:
df5 = pd.DataFrame(
   ...:     {
   ...:         "A": ["A8", "A9", "A10", "A11"],
   ...:         "B": ["B8", "B9", "B10", "B11"],
   ...:         "C": ["C8", "C9", "C10", "C11"],
   ...:         "D": ["D8", "D9", "D10", "D11"],
   ...:     },
   ...:      index=[0, 1, 2, 3],
   ...: )

Keys can be added to associate labels with each of the pieces.

In [ ]:
result2 = pd.concat([df1,df4,df5], axis=1, keys=["x", "y", "z"])

In [ ]:
result2

In [ ]:
result = pd.concat([df1,df2,df3], keys=["x", "y", "z"])

In [ ]:
result

We can now select out each chunk by key:

In [ ]:
result.loc["y"]

Select y from the axis =1 concatentation

In [ ]:
result2.loc[:,"y"]

One important difference between np.concatenate and pd.concat is that Pandas concatenation preserves indices, even if the result will have duplicate indices!

In [ ]:
result2 = pd.concat([df1,df4,df5])

In [ ]:
result2

If the index is not important, you can chose to ignore it by using the ignore_index flag. 

With this set to true, the concatenation will create a new integer index for the resulting Series

In [ ]:
result2 = pd.concat([df1,df4,df5], ignore_index=True)

In [ ]:
result2

#### Concatenation with joins

How to handle data from different sources with  different sets of column names:

When gluing together multiple DataFrames, there are options for handling the other axes (other than the one being concatenated). 

For the concatenation of two DataFrames, which have some (but not all!) columns in common:
the two options are:  

- Take the union of them all, join='outer'. This is the default option as it results in zero information loss.

- Take the intersection, join='inner'.


Examples of each of these methods. First, the default join='outer' behavior:

In [ ]:
df4 = pd.DataFrame(
   ...:     {
   ...:         "B": ["B2", "B3", "B6", "B7"],
   ...:         "D": ["D2", "D3", "D6", "D7"],
   ...:         "F": ["F2", "F3", "F6", "F7"],
   ...:     },
   ...:     index=[2, 3, 6, 7],
   ...: )
   ...:

In [ ]:
result3 = pd.concat([df1, df4], axis=1)

In [ ]:
result3

In [ ]:
result3 = pd.concat([df1, df4], axis=1, join="inner")

In [ ]:
result3

We could reindex before the concatenation:

In [ ]:
pd.concat([df1, df4.reindex(df1.index)], axis=1)

### Append method
The append methods actually predated concat. append concatenates along axis=0, namely the index:

In [ ]:
result4 = df1.append(df2)

In [ ]:
result4

 append may take multiple objects to concatenate:

In [ ]:
result = df1.append([df2, df3])

In [ ]:
result

### Concatenating with mixed dimensions

You can concatenate a mix of Series and DataFrame objects. 

A Series will be transformed to a DataFrame with the column name as taken from the Series.

In [ ]:
s1 = pd.Series(["X0", "X1", "X2", "X3"], name="X")

In [ ]:
result5 = pd.concat([df1, s1], axis=1)

In [ ]:
result5

append can be applied to a  Dataframe and series but append only supports a row-wise operation

In [ ]:
result6=df1.append(s1)

In [ ]:
result6

If unnamed Series are passed they will be numbered consecutively.

In [ ]:
s2 = pd.Series(["o", "p", "q", "r"])

In [ ]:
result = pd.concat([df1, s2, s2, s2], axis=1)

In [ ]:
result

Passing ignore_index=True will drop all name references.

In [ ]:
result = pd.concat([df1, s1], axis=1, ignore_index=True)

In [ ]:
result

Dataframe inherits column labels from input series

In [ ]:
s3 = pd.Series([0, 1, 2, 3], name="About")
s4=pd.Series([1,3,5,6])
s5=pd.Series([5,6,7,9])
pd.concat([s3,s4,s5], axis=1)

Inherited labels can be overidden with use of keys

In [ ]:
pd.concat([s3, s4, s5], axis=1, keys=["not", "any", "more"])

You can also pass a dict to concat in which case the dict keys will be used for the keys argument (unless other keys are specified):

In [ ]:
parts = {"x": df1, "y": df2, "z": df3}

In [ ]:
result6 = pd.concat(parts)

In [ ]:
result6

Specifying keys and key order structures the concatenation

In [ ]:
result7 = pd.concat(parts, keys=["z", "y"])

In [ ]:
result7

The MultiIndex has levels that are constructed from the passed keys and the index of the DataFrame parts:

In [ ]:
result7.index.levels

In [ ]:
result = pd.concat(
        parts, keys=["x", "y", "z"], levels=[["z", "y", "x", "w"]], names=["extra_key"])

In [ ]:
result

In [ ]:
result.index.levels

### Database-style DataFrame or named Series joining/merging

Pandas provides the function, merge(), as the entry point for all standard database join operations between DataFrame or named Series objects:

pd.merge implements a subset of relational algebra, a formal set of rules for manipulating relational data

The pd.merge() function implements a number of types of joins: the one-to-one, many-to-one, and many-to-many joins.

pd.merge(
    left,
    right,
    how="inner",
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    
left: A DataFrame or named Series object.

right: Another DataFrame or named Series object.

on: Column or index level names to join on. Must be found in both the left and right DataFrame and/or Series objects. If not passed and left_index and right_index are False, the intersection of the columns in the DataFrames and/or Series will be inferred to be the join keys.

left_on: Columns or index levels from the left DataFrame or Series to use as keys. Can either be column names, index level names, or arrays with length equal to the length of the DataFrame or Series.

right_on: Columns or index levels from the right DataFrame or Series to use as keys. Can either be column names, index level names, or arrays with length equal to the length of the DataFrame or Series.

### One-to-one joins

The simplest type of merge expression is the one-to-one join, which is similar to column-wise concatenation.

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})


df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3 = pd.merge(df1, df2)
df3

The result of the merge is a new DataFrame that combines the information from the two inputs. 

The order of entries in each column is not necessarily maintained.

In this case, the order of the "employee" column differs between df1 and df2

pd.merge() correctly accounts for this. 

The merge in general discards the index, except in the special case of merges by index

#### Many-to-one joins

Many-to-one joins are joins in which one of the two key columns contains duplicate entries.

For the many-to-one case, the resulting DataFrame will preserve those duplicate entries as appropriate

In [ ]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})

In [ ]:
df4

In [ ]:
pd.merge(df3,df4)

#### Many-to-many joins

If in many-to-many joins the key column in both the left and right array contains duplicates, then the result is a many-to-many merge.

In [ ]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})

In [ ]:
pd.merge(df1,df5)

The default behavior of pd.merge() is that it looks for one or more matching column names between the two inputs, and uses this as the key. 

Often the column names will not match so nicely, and pd.merge() provides a variety of options for handling this.

You can explicitly specify the name of the key column using the on keyword, which takes a column name or a list of column names.

This option works only if both the left and right DataFrames have the specified column name.

In [ ]:
pd.merge(df1, df2, on='employee')

To merge two datasets with different column names,  use the left_on and right_on keywords to specify the two column names.

In [ ]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})

In [ ]:
pd.merge(df1, df3, left_on="employee", right_on="name")

The redundant column can be dropped if desired  -  by using the drop() method of DataFrames:

In [ ]:
pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1)

### The left_index and right_index keywords
Sometimes, rather than merging on a column, you would instead like to merge on an index.

In [ ]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')

In [ ]:
df1a

In [ ]:
df2a

You can use the index as the key for merging by specifying the left_index and/or right_index flags in pd.merge():

In [ ]:
pd.merge(df1a, df2a, left_index=True, right_index=True)

DataFrames implement the join() method, which performs a merge that defaults to joining on indices:

In [ ]:
df1a.join(df2a)

You can mix indices and columns, by combining left_index with right_on or left_on with right_index to get the desired behavior:

In [ ]:
pd.merge(df1a, df3, left_index=True, right_on='name')

An important consideration in performing a join is the type of set arithmetic used in the join.

This comes up when a value appears in one key column but not the other.

In [ ]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                   columns=['name', 'drink'])

In [ ]:
df6

In [ ]:
df7

In [ ]:
pd.merge(df6, df7)

By default an inner join is performed.  

Options can be specified explicitly using the how keyword.

If a key combination appears more than once in both tables, the resulting table will have the Cartesian product of the associated data

In [ ]:
left = pd.DataFrame(
       {
            "key": ["K0", "K1", "K2", "K3"],
            "A": ["A0", "A1", "A2", "A3"],
            "B": ["B0", "B1", "B2", "B3"],
        }) 

right = pd.DataFrame(
        {
            "key": ["K0", "K1", "K2", "K3"],
            "C": ["C0", "C1", "C2", "C3"],
            "D": ["D0", "D1", "D2", "D3"],
        })
 

result8 = pd.merge(left, right, on="key")

In [ ]:
left

In [ ]:
right

In [ ]:
result8

Merging with multiple join keys

Only the keys appearing in left and right are present (the intersection), since how='inner' by default.

In [ ]:
left = pd.DataFrame(
   ....:     {
   ....:         "key1": ["K0", "K0", "K1", "K2"],
   ....:         "key2": ["K0", "K1", "K0", "K1"],
   ....:         "A": ["A0", "A1", "A2", "A3"],
   ....:         "B": ["B0", "B1", "B2", "B3"],
   ....:     }
   ....: )
   ....: 

right = pd.DataFrame(
   ....:     {
   ....:         "key1": ["K0", "K1", "K1", "K2"],
   ....:         "key2": ["K0", "K0", "K0", "K0"],
   ....:         "C": ["C0", "C1", "C2", "C3"],
   ....:         "D": ["D0", "D1", "D2", "D3"],
   ....:     }
   ....: )
   ....:

In [ ]:
result10 = pd.merge(left, right, on=["key1", "key2"])

In [ ]:
left

In [ ]:
right

In [ ]:
result10

The how argument to merge specifies how to determine which keys are to be included in the resulting table. If a key combination does not appear in either the left or right tables, the values in the joined table will be NA.

Use keys from left frame only

In [ ]:
result11 = pd.merge(left, right, how="left", on=["key1", "key2"])

In [ ]:
result11

Use keys from right frame only

In [ ]:
result12 = pd.merge(left, right, how="right", on=["key1", "key2"])

In [ ]:
result12

outer join: Use union of keys from both frames

An outer join returns a join over the union of the input columns, and fills in all missing values with NAs:

In [ ]:
result13 = pd.merge(left, right, how="outer", on=["key1", "key2"])

In [ ]:
left

In [ ]:
right

In [ ]:
result13

Use intersection of keys from both frames

In [ ]:
result14 = pd.merge(left, right, how="inner", on=["key1", "key2"])

In [ ]:
result14

You can merge a mult-indexed Series and a DataFrame, if the names of the MultiIndex correspond to the columns from the DataFrame. Transform the Series to a DataFrame using Series.reset_index() before merging,

In [ ]:
df = pd.DataFrame({"Let": ["A", "B", "C"], "Num": [1, 2, 3]})

In [ ]:
df

In [ ]:
ser = pd.Series(
        ["a", "b", "c", "d", "e", "f"],
        index=pd.MultiIndex.from_arrays(
            [["A", "B", "C"] * 2, [1, 2, 3, 4, 5, 6]], names=["Let", "Num"]),)

In [ ]:
ser

In [ ]:
pd.merge(df, ser.reset_index(), on=["Let", "Num"])